

	.main-heading{
		text-align:center;
		margin-bottom: 43px;
		h3{
			color:#869099;
			font-size:11px;
			font-family:$font_family2;
			font-weight:400;
			text-transform:uppercase;
			margin-bottom:12px;
			letter-spacing: 2px;
			margin-top: -3px;
		}
	
	}	

	.main{
			color:#161616;
			font-size:$font_size;
			font-family:$font-family;
			font-weight:$font_weight;
		}